.input {
  display: flex;
  width: 90%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  /* padding: 0 30px; */
}
.input__box {
  width: 100%;
  border-radius: 40px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
  /* background-color: red; */
}

.input__submit {
  position: absolute;
  right: 10px;
  background-color: #76ba99;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__submit:active {
  transform: scale(0.8);
}
.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.todos {
  width: 45%;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: #1c7947;
  /* height: 100%; */
}
.remove {
  background-color: #f87474;
}
.todos__heading {
  font-size: 30px;
  margin-bottom: 5px;
  color: white;
}
.todos__single {
  margin-bottom: 3px;
  display: flex;
  width: 25%;
  border-radius: 5px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
  /* justify-items: center; */
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.3s;
}

.todos__single:hover {
  transform: scale(1.03);
}

@media (min-width: 1210px) {
  .todos__single {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .todos__single {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 90%;
  }
  .todos__single {
    width: 90%;
  }
  .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .todos {
    width: 90% !important;
  }
}
@media (max-width: 400px) {
  .todos__single {
    width: 70%;
  }
}
