.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.input__box {
  width: 100%;
  border-radius: 40px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  outline: none;
}
.input__submit {
  position: absolute;
  right: 10px;
  background-color: #76ba99;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}
